<div class="container">
    <!-- Your existing HTML code here -->

    <div class="row">
        <div class="col-auto">
            <form
                
                method="post">
                <button type="submit"
                    style="background-color: rgb(211, 47, 47);"
                    class="btn btn-danger border border-dark text-dark">Eliminar
                </button>
            </form>
        </div>
    </div>
</div>