
<div
    class=" text-light rounded "
    style="width: auto;">

    <form class="form-signin text-center">

        <div class="form-label-group m-3">
            <label class="my-3" for="inputName">Nombre de Semilla</label>
            <input style="background-color: rgb(45, 45, 45);" type="Name"
                id="inputName" class="form-control text-light"
                placeholder="Nombre"
                required>
        </div>

        <div class="form-label-group m-3 ">
            <label class="my-3" for="inputPlantDate">Fecha de
                Plantado</label>
            <input style="background-color: rgb(45, 45, 45);"
                type="plantDate"
                id="inputPlantDate" class="form-control text-light"
                placeholder="Fecha" required>
        </div>

        <div class="d-flex justify-content-around">
            <div class="form-label-group m-3">
                <label class="my-3" for="inputIdealPh">PH ideal</label>
                <input style="background-color: rgb(45, 45, 45);"
                    type="pHIdeal"
                    id="inputIdealPh"
                    class="form-control text-light text-center"
                    placeholder="PH Ideal" required>
            </div>

            <div class="form-label-group m-3">
                <label class="my-3" for="inputIdealPh">Cantidad
                    semilla</label>
                <input style="background-color: rgb(45, 45, 45);"
                    type="pHIdeal"
                    id="inputIdealPh"
                    class="form-control text-light text-center"
                    placeholder="Cantidad semilla" required>
            </div>
        </div>
    </form>
</div>
