<div class="modal fade text-light" id="modCrear"
    data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="staticBackdropLabel">Formulario creacion de Semillas
                </h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body fs-5">
                <%- include('./form.ejs') %>

            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button"
                    class="btn btn-success">Crear</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-light" id="modModificar"
    data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="staticBackdropLabel">Formulario modificar Semilla
                </h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('./form.ejs') %>

            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button"
                    class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </div>
</div>

