
<div class="mb-3 border border-secondary shadow text-light rounded text-center">

  <button
    class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
    data-bs-toggle="collapse" data-bs-target="#search-collapse"
    aria-expanded="false">
    <img class="mb-1"
      src='https://cdn-icons-png.flaticon.com/128/8213/8213522.png' width="24"
      height="24">
    <h2 class="text-light px-2 fw-light fs-2">Busqueda de Semillas</h2>
  </button>

  <div class="collapse" id="search-collapse" style>
    <ul class="btn-toggle-nav list-unstyled fw-normal">
      <form class="form-signin">

        <div class="form-label-group m-4">
          <input class="form-control my-3 border border-secondary"
            style="background-color: rgb(45, 45, 45);" type="search"
            placeholder="Ingrese el nombre de su semilla"
            aria-label="Search">
        </div>

        <div class="form-label-group text-center">
          <button class="btn btn-lg btn-block text-light"
            style="background-color: rgb(76,175,80);" type="submit">Realizar
            busqueda</button>
        </div>
      </form>
    </ul>
  </div>
</div>