
<div>
    <div
        class="mx-auto border border-secondary shadow p-3 text-light rounded "
        style="width: 720px;">

        <form class="form-signin text-center">
            <h2 class="text-light mb-4">Borrado de suelos</h2>

            <div class="form-label-group m-4">
                <input class="form-control my-3 text-light"
                    style="background-color: rgb(45, 45, 45);"
                    type="search" placeholder="Ingrese id"
                    aria-label="Search">
            </div>

            <div class="form-label-group text-center m-4">
                <button class="btn btn-lg btn-block text-light"
                    style="background-color: rgb(76,175,80);"
                    type="submit">Realizar
                    borrado</button>
            </div>
        </form>
    </div>
</div>
