<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <%- include('partials/cdnjs.ejs') %>

    <%- include('partials/navbar.ejs') %>

    <body class="bg-dark">
        <div class="m-4 py-4">
            <div class="text-center m-4 rounded">
                <div
                    class="text-light border border-secondary shadow">
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-4 m-2">Green Jairo
                                InfoSeeds</h1>
                            <p class="col-lg-8 mx-auto lead m-4">
                                Bienvenido a la plataforma para
                                gestionar semillas, sectores de plantado y sus
                                propiedades.
                                controla el inventario de semillas, optimiza la
                                planificación de
                                tus terrenos
                                y mejora la productividad y de tu operación
                                agrícola con
                                Green Jairo InfoSeeds.
                            </p>
                        </div>
                    </div>
                    <h1 class="text-body-emphasis m-3"></h1>

                    <img
                        src="https://bibliotecadigital.odepa.gob.cl/themes/odepa/images/bg-header.jpg"
                        style="width: 400; height: 400px;"
                        class="mb-2 rounded border border-white">

                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row m-4">
                            <div class="col-md-4">
                                <h2>Vision</h2>
                                <p class="mx-auto lead m-2">
                                    Somos un gestor para proyectos agricolas
                                    en diferentes tipos de suelo.
                                    Buscamos contribuir e impulsar este tipo de
                                    proyectos.

                                </p>
                            </div>
                            <div class="col-md-4">
                                <h2>Mision</h2>
                                <p class="mx-auto lead m-2">Nuestro lema es no
                                    discriminar a ningún cliente.
                                    ayudamos a cada cliente a
                                    desarrollar la agricultura en sus terrenos
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h2>Valores</h2>
                                <p class="mx-auto lead m-2">Nos comprometemos a
                                    proteger
                                    y preservar los recursos naturales a través
                                    de
                                    prácticas agrícolas responsables.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>

</html>