
<div>
    <div
        class="mx-auto border border-secondary shadow p-3 text-light rounded "
        style="width: 720px;">

        <form class="form-signin text-center">
            <h2 class="text-light">Creacion de usuarios</h2>

            <div class="form-label-group m-4">
                <label class="my-3" for="inputName">Nombre de usuario</label>
                <input style="background-color: rgb(45, 45, 45);" type="Name"
                    id="inputName" class="form-control text-light"
                    placeholder="Nombre"
                    required>
            </div>

            <div class="form-label-group m-4">
                <label class="my-3" for="inputPassword">Contraseña</label>
                <input style="background-color: rgb(45, 45, 45);"
                    type="password"
                    id="inputPassword" class="form-control text-light"
                    placeholder="Contraseña" required>
            </div>

            <div class="form-label-group text-center m-4">
                <button class="btn btn-lg btn-block text-light"
                    style="background-color: rgb(76,175,80);"
                    type="submit">Registrar usuario</button>
            </div>
        </form>
    </div>
</div>